body
{
    place-items:center;
}
h1
{
    text-align:center;
}
.container
{
    display:grid;
    grid-template-rows:repeat(8,1fr);
    grid-template-columns:repeat(8,1fr);
    background-color:white;
    border:5px solid black;
    padding:1px;
    
}

.cube1
{
background-color: rgb(247, 248, 248);
height: 50px;
width:50px;

}
.cube2
{
background-color: rgb(9, 9, 9);
height: 50px;
width:50px;
}
