.container
{
    text-align:center;
    display:flex;
    flex-direction: column;
}
.up
{
    display:flex;
    flex-direction: column;
    background-color:  #e1f1ec;
    position:relative;
    /* overflow: hidden; */
    min-height: 350px;
    border-bottom: 20px;
}
.headerback
{ 
    display:felx;
    position:absolute;
    bottom: 0;        
    right: 0;
    z-index: 1;
    width:50%;
}
.headerback img {
    justify-self: right;
    width: 90%;     
    height: 100%;    
    display: block;
    opacity:0.3;
}
.headerfront
{ 
    display:flex;
    justify-content:right;
    position:absolute;
    top:0;
    right:0;
    z-index: 2;
    width:50%;
}
.headerfront img {
    
    width: 65%;     
    height: 105%;    
    display: block;
}
.topimags
{
    display:flex;
    justify-content:left;
    gap:20px;
    padding:10px;
    z-index:3
}
.v-line{
    background-color: black;
    height: 45px;
    padding-top:5px;
    width:1px;

}
.toptext
{
    padding-left: 50px;
    display:flex;
    flex-direction: column;
    align-items:start;
    z-index: 2;
    
}
.abu{color:rgb(77 167 27);}
.week{ color:rgb(17, 169, 203);}


.textt{
    text-align:left;
    padding:2rem;
}
.down
{
    display:grid;
    grid-template-rows:1fr 2fr;
}
.downimg1{
    display:grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom:10px;
    gap:20px;
     align-items:center;
    
    
}
.supporters{
    justify-self: center;
}


.downimg1 img {
    width: 120px;   
    padding-left:10px;
    height: auto;
    border-bottom:2px;
}
.downimg1 img:not(:nth-child(4n+1)),.sponsors2 img:not(:nth-child(4n+1)) {
    border-left: 1px solid #ccc;
}

.sponsors1 {
    display:grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center; 
    align-items: center;
    gap: 30px;
    margin:0 auto;
}
.sponsors2{
     display:grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center; 
    align-items: center;
    gap: 30px;
    margin:0 auto;
}

.sponsors1 img,.sponsors2 img {
    width: 120px;
    height: auto;
    padding: 0 20px;
    justify-self: center;
}


.sponsors1 img:not(:nth-child(4n+1)),.sponsors2 img:not(:nth-child(4n+1)) {
    border-left: 1px solid #ccc;
}

h4{
    color:#649fbf;
}
h1{
    font-size: 50px;
}
